<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.leestagram.post.dao.PostDAO">
 	<select id="selectPostListByUserId" parameterType="int" resultType="com.leestagram.post.model.Post">
 		SELECT
 			`id`
			,`userId`
			,`userName`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
		WHERE
			`userId` = #{userId}
 	</select>
 	<insert id="insertPost" parameterType="map">
 		INSERT INTO `post`
    	(
    		`userId`
			,`userName`
			,`content`
			,`imagePath`
			,`createdAt`
			,`updatedAt`
    	)
    	VALUES
    	(
    		#{userId}
    		, #{userName}
    		, #{content}
    		, #{imagePath}
    		, NOW()
    		, NOW()
    	) 
 	</insert>
 </mapper>